@import url("https://fonts.googleapis.com/css?family=Lato:900");
@import url("https://fonts.googleapis.com/css?family=Coming+Soon");
@import url("https://fonts.googleapis.com/css?family=Nunito:300");

html {
  height: 100vh;
  background: -webkit-radial-gradient(
    #1b2735 0%,
    #090a0f 100%
  ); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(
    #1b2735,
    #090a0f 100%
  ); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(#1b2735, #090a0f); /* For Firefox 3.6-15 */
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

body {
  height: inherit;
}

.custom-message-html {
  height: inherit !important;
  overflow: auto !important;
}

.message {
  opacity: 0;
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: "Coming Soon";
  z-index: 999999;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 120px;
}

.with-love {
  font-family: "Nunito", sans-serif;
  display: block-inline;
  color: white;
  z-index: 100;
  opacity: 0.5;
}

.subscribe-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe-wrapper__text {
  font-size: 25px;
  opacity: 0.8;
  font-weight: 900;
}

.cta {
  width: 100% !important;
}

.cta__text {
  width: 40px;
}

.sm-gap {
  margin-top: 40px;
}
.xsm-gap {
  margin-top: 20px;
}

.txt-small {
  opacity: 0.5;
  font-size: 20px;
}

.stars {
  height: 1px;
  width: 1px;
  background-color: #ffffff;
  position: absolute;
  box-shadow: 0px 0px 1px #fff;
}

.main-star {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  background: #ddd;
  box-shadow: 0 0 50px tomato, 0 0 30px orange, inset 0 10px 10px 20px #ddd,
    inset 30px 0 35px 50px #ccc;

  margin: auto;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  z-index: 1;
}

.main-star__thought-wrapper {
  width: 70%;
  height: 80%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  text-align: center;
  left: 50%;
  padding: 20px;
  font-family: "Lato", sans-serif;
  z-index: 3;
}

.main-star__thought-text {
  position: relative;
  text-align: center;
  font-family: "Lato", sans-serif;
  z-index: 3;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border-radius: 20px;
  opacity: 0;
  z-index: 10;
}

.overlay-background {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 50px;
}

.emailAddy {
  display: inline-block;
  top: 38%;
  left: 50%;
  background: white;
  border-radius: 15px;
  border: none;
  padding: 0.8em;
  color: black;
  font-size: 13px;
  padding-left: 1.5em;
  width: 185px;
  outline: none;
  box-shadow: 0 4px 6px -5px hsl(0, 10%, 40%),
    inset 0px 4px 6px -5px hsl(0, 0%, 2%);
}

.show-delayed {
  opacity: 0;
}

.done {
  opacity: 0;
}

.red-background {
  background: #a7582c !important;
}

.title {
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  padding: 0;
  margin: 0;
  left: 0;
  position: absolute;
  font-size: 80px;
  font-family: "Coming Soon";
}

.title-custom-message {
  color: white;
  text-align: center;
  font-size: 80px;
  font-family: "Coming Soon";
  margin-top: 30px;
}

.input-thought-wrapper {
  position: fixed;
  left: 0;
  bottom: 84px;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input__thought {
  background: white;
  border-radius: 15px;
  border: none;
  padding: 16px;
  opacity: 0;
  color: black;
  font-size: 16px;
  width: 30%;
  max-width: 500px;

  outline: none;
  box-shadow: 0 4px 6px -5px hsl(0, 10%, 40%),
    inset 0px 4px 6px -5px hsl(0, 0%, 2%);
}

.btn-enterthought {
  position: relative;
  top: 26px;
  padding: 12px;
  width: 110px !important;
}

.submit {
  opacity: 0;
}

.title-done {
  font-size: 46px;
  top: 50%;
  left: 50%;
  width: 80%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #cececf;
  text-align: center;
  font-family: "Coming Soon";
}

.heart {
  color: red;
}

.email-subscribe {
  width: 115px !important;
}

.fb-like span > iframe {
  position: absolute !important;
}

.main-title__sub-title {
  font-size: 25px;
}

.top-20 {
  z-index: 100;
  right: 0;
  bottom: 0;
  margin-top: 30px;
  left: 0;
  text-align: center;
}

.less-rounded {
  border-radius: 5px;
  margin-bottom: 30px;
}

/* Button */

.button {
  z-index: 10;
  border-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #0c5;

  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  width: 150px;

  background: rgb(167, 88, 44);
  border: 1px solid rgb(167, 88, 44);
  color: #fff;
  overflow: hidden;
  cursor: pointer;
}

.button:hover,
.button:active {
  text-decoration: none;
  color: rgb(167, 88, 44);
  border-color: rgb(167, 88, 44);
  background: #fff;
}

.button span {
  display: inline-block;
  position: relative;
  padding-right: 0;

  transition: padding-right 0.5s;
}

.button span:after {
  content: " ";
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -10px;

  background: rgba(0, 0, 0, 0);
  border: 3px solid #fff;
  border-top: none;
  border-right: none;

  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
}

.button:hover span,
.button:active span {
  padding-right: 30px;
}

.button:hover span:after,
.button:active span:after {
  -webkit-transition: opacity 0.5s, top 0.5s, right 0.5s;
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  border-color: rgb(167, 88, 44);
  right: 0;
  top: 50%;
}

/* Not found title */

.not-found {
  font-family: "Coming Soon";
  font-size: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  color: white;
}

/* Sharing Buttons */

.share-btns {
  filter: grayscale(100%);
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top;
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle;
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none;
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373;
}

.resp-sharing-button--tumblr {
  background-color: #35465c;
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
}

.resp-sharing-button--google:hover {
  background-color: #c23321;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293;
}

.resp-sharing-button--email {
  background-color: #777;
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e;
}

.resp-sharing-button--xing {
  background-color: #1a7576;
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c;
}

.resp-sharing-button--whatsapp {
  background-color: #25d366;
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851;
}

.resp-sharing-button--hackernews {
  background-color: #ff6600;
}
.resp-sharing-button--hackernews:hover,
.resp-sharing-button--hackernews:focus {
  background-color: #fb6200;
}

.resp-sharing-button--vk {
  background-color: #507299;
}

.resp-sharing-button--vk:hover {
  background-color: #43648c;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}

.resp-sharing-button--whatsapp {
  background-color: #25d366;
  border-color: #25d366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1da851;
  border-color: #1da851;
}

.resp-sharing-button--telegram {
  background-color: #54a9eb;
}

.resp-sharing-button--telegram:hover {
  background-color: #4b97d1;
}

@media only screen and (max-device-width: 600px) {
  .title {
    padding: 10px;
    font-size: 44px;
    width: inherit;
  }
  .main-title__sub-title {
    font-size: 24px;
  }
  .message {
    top: 32px;
    padding: 10px;
    font-size: 26px;
  }
  .input-thought-wrapper {
    bottom: 40px;
  }
  .input__thought {
    width: 80%;
  }
  .btn-enterthought {
    top: 10px;
  }
  .main-star {
    height: 240px;
    width: 240px;
    margin-left: -120px;
    margin-top: -120px;
  }

  .email-subscribe {
    width: 90px !important;
    letter-spacing: 1px !important;
  }

  .title-done {
    font-size: 26px;
  }
  .subscribe-wrapper__text {
    font-size: 20px;
  }
  .cta {
    font-size: 12px;
  }
  .overlay-background {
    padding: 24px;
  }
}
